body{
    margin: 0px;
    padding: 0pxs;
    font-family: "DDG_ProximaNova","DDG_ProximaNova_UI_0","DDG_ProximaNova_UI_1","DDG_ProximaNova_UI_2","DDG_ProximaNova_UI_3","DDG_ProximaNova_UI_4","DDG_ProximaNova_UI_5","DDG_ProximaNova_UI_6","Proxima Nova","Helvetica Neue","Helvetica","Segoe UI","Nimbus Sans L","Liberation Sans","Open Sans",FreeSans,Arial,sans-serif;
    color:#222;
}

/*-- Page C o n t a i n e r --*/

.sit-wrapper{
    display: grid;
    grid-template-columns:5fr 1fr;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    overflow: hidden;
}
li{
    list-style-type: none;
}
.container{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    background-color: lightgray;
}
/* media-button */
.dropbtn {
    padding: 0px;
    border: none;
    cursor: pointer;
    margin-top: 3px;
    background-color: lightgray;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    float: right;
    
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content .day-a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content .day-a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color: #fff;
  }

/* --Main--Menu --*/

.night-a{
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}
.night-a:hover{
  color: #ffffff;
}
#slideLeft{
  display: block;
  position: relative;
  z-index: 1;
  top: 0px;
  left: 100px;
  float: left;
}
#slideLeft input{
  display: block;
  width: 40px;
  height: 32px;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  left: -5px;
  top: -7px;
  position: absolute;
}
#slideLeft span{
  order: 1;
  position: static;
  top: 0px;
  display: block;
  width: 25px;
  height: 2px;
  background: #000;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  z-index: 1;
  transform-origin: 5px 0px;
  position: relative;
  margin-bottom: 5px;
  margin-top: 5px;
  -webkit-transition: transform .5s cubic-bezier (.75, .2, .05, 1.0) ;
  -moz-transition: transform .5s cubic-bezier (.75, .2, .05, 1.0) ;
  -moz-transition: transform .5s cubic-bezier (.75, .2, .05, 1.0) ;
  -o-transition: transform .5s cubic-bezier (.75, .2, .05, 1.0) ;
  transition: transform .5s cubic-bezier (.75, .2, .05, 1.0) ;  
}
#slideLeft span:first-child{
  -webkit-transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -o-transform-origin:0% 0%;
  transform-origin:0% 0%;
}

#slideLeft span:last-child{
  -webkit-transform-origin:0% 100%;
  -moz-transform-origin:0% 100%;
  -moz-transform-origin:0% 100%;
  -o-transform-origin:0% 100%;
  transform-origin:0% 100%;
}
#slideLeft input:checked ~ span{
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
  -moz-transform: rotate(45deg) translate(-2px, -1px);
  -moz-transform: rotate(45deg) translate(-2px, -1px);
  -o-transform: rotate(45deg) translate(-2px, -1px);
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}

#slideLeft input:checked ~ span:nth-child(3){
  opacity: 0;
  -webkit-transform: rotate (-45deg) scale(.2, 0.2);
  -moz-transform: rotate (-45deg) scale(.2, 0.2);
  -moz-transform: rotate (-45deg) scale(.2, 0.2);
  -o-transform: rotate (-45deg) scale(.2, 0.2);
  transform: rotate (-45deg) scale(.2, 0.2);
}
#slideLeft input:checked ~ span:nth-last-child(2){
  -webkit-transform: rotate(0deg) translate(0, -1px);
  -moz-transform: rotate(0deg) translate(0, -1px);
  -moz-transform: rotate(0deg) translate(0, -1px);
  -o-transform: rotate(0deg) translate(0, -1px);
  transform: rotate(0deg) translate(0, -1px);
}
#nav-area{
  position: fixed;
  width: 250px;
  height: 100vh;
  margin: 0px 0 0 10px;
  padding: 50px 30px 30px;
  background: gray;
  list-style-type: none;
  transform-origin: 0% 0%;
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
#nav-area li{
  
  color: #fff;
  font-size: 13px;
  padding:1px;
  line-height: 50px;
}
#slideLeft input:checked ~ ul{
  -webkit-transform: none;
  -moz-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}

.menu-heading{
  color: #000;

}
/*Logo- Section*/
#content-wrap-home{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  margin: 0 auto;
  font-size: 30px;
  text-decoration: none;
  
}
.logo .search-wrap{
  display: flex;
  justify-content:center;
  text-decoration: none;
  
}
.logo{
  display: flex;
  flex-direction: row;
  background-position: 50% 50%;
  margin: 20px 0 10px;
  
}
#logo_homepage{
  margin: 0;
  width: 100px;
  height: 65px;
  background-image: url(/img/duckduckgo-logo.png);
  background-size: 90% 100%;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  text-decoration: none;
}
.logo-text-container{
  margin-top: 20px;
  text-decoration: none;
  display:flex;
}

#content_homepage{
  display: block;
  padding-bottom: 0px;
  height: auto;
  margin: 0px;
}
/* --Search container */
.search-wrap{
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  padding: 0px;
  margin: 0px;
  width: 100%;

}

#search-form-input{
box-sizing: border-box;
border-radius: 4px;
display: block;
position: relative;
display: flex;
flex-direction: row;
height: 1.8em;
background-color:#fff;
border: 1px solid rgba(0,0,0,0.15);
box-shadow: 0 2px 3px rgba(0,0,0,0.06);
padding-left: .75em;

}
#search_form_input_homepage{
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
-o-appearance: none;
appearance: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
font-size: 1.1em;
font-weight: normal;
display: block;
width: 100%;
background: none;
outline: none;
border: none;
padding: 0;
height: 3.545455em;
z-index: 1;
position: relative;
top: -1px;
width: 600px;
}

#search-button{
border-radius: 0 4px 4px 0;
min-width: 26px;
color:#999;
font-size: 1.25em;
padding: 0 .64em;
height: auto;
min-height: 1.8em;
margin-top: -1px;
margin-bottom: -1px;
margin-right: -3px;
}

.budge-link{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  order:1;
  cursor: initial;
  background-color: lightgray;
}
.badge-link__wrap{

  margin: 0px;
  box-sizing: border-box;
  width: auto;
  max-width:none;
  padding: 0px;
  margin: 60px auto 100px;
}
/*work on this to position top every thing to left*/
/*.badge-link__box-content{
  display: flex;
  justify-content: flex-start;
}*/
.badge-link__content{
  
  max-width: 350px;
  margin: 0 auto;
  padding: 25px;
  text-align: left;
  cursor: initial;
  hyphens: auto;
}
/* h1 first top text */
.badge-link__title{
  font-size: 30px;
  color: #eeeeee;
  margin: 0px;
  border: 0px;
  cursor: initial;
  hyphens: auto;

}
/* Paragraphed top first */
.badge-link__subtitle{
  color: #eeeeee;
  margin-bottom: auto;
  padding: 0 0 24px;
  line-height: 1.5;
  font-size: 17px;
  cursor: initial;
  hyphens: auto;
}
/* button top first*/
.badge-link__btn-wrp{
  text-decoration: none;
  display: inline-block;
  min-width: 235px;
  color: #fff;
  font-family: inherit;
  background-color:#678fff !important;
  border-color:#678fff !important;
  width: 20%;
  height: 43px;
  float: left;
}

.badge-link__btn{
display: flex;
justify-content: flex-end;
margin: 13px 25px 0 5px;
font-size: 14px;
font-weight: bold;
}
/*writing under the top button*/
.badge-link__rating{
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin-top: 21px;
  color: #65676a;
  max-width: 300px;
}
.badge-link__rating-wrap{
  padding: 0;
  line-height: 1.35;
  display: flex;
  cursor: initial;
  hyphens: auto;
}
.badge-link__rating__star{
  margin-right: 2px;
  font-family: sans-serif;
}
.badge-link__img{
  display: block;
  margin-top: -165px;
  flex: 1 1 auto;
  min-height: 285px;
}
/*middle 3 boxes*/
.content-info{
  text-align: center;
  color: #353848;
  hyphens: auto;
}
.content-info__title{
  font-weight: 800;
  font-size: 32px;
  margin: 0px;
  padding: 0px;
}
.content-info__items{
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: 100%;
  min-height: 340px;
  margin: 40px auto 0;
  padding: 0 100px;
  background-color: red;
 
}
.content-info__item-wrap{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1250px;
  min-height: 340px;
  text-align: center;
  color:#353748;
  hyphens: auto;
}
.content-info__item{
  box-sizing: border-box;
  width: 330px;
  min-height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 17.5px;
  margin-left: 17.5px;
  padding: 20px 25px;
  background-color:#fff;
  border-radius: 18px;
  box-shadow: 0px 10px 16px -8px rgba(0,0,0,0.2);
}
.content-info__item__icon{
  width: 110px;
  height: 100px;
  margin: 30px;
  display: block;
}
.content-info__item__title{
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 10px;
  line-height: 1.1;
  color: inherit;
}
.content-info__item__subtitle{
  width: 70%;
  font-size: 17px;
  line-height: 1.5;
  color: inherit;
}
/*Footer start from here*/

.footer_homepage{
  height: 400vh;
  top: 100vh;
  width: 100%;
  margin: 0px;
}
#onboarding-ed{
  background-color: #58b792;
  height: 100vh;
  text-align: center;
  position: relative;
  margin: 0;
  padding-top: 100px;

}
.onboarding-ed__content{
  max-width: 700px;
  margin: 0 auto;
  color: #fff;
  text-shadow: 0 1px 4px rgba(0,0,0,0.1);
  vertical-align: middle;
  position: relative;

}
.onboarding-ed__title{
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 48px;
  font-weight: 800;
  padding-top:0;
}
.onboarding-ed__subtitle{
  font-size: 20px;
  line-height: 28px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.onboarding-ed__button-small{
  position: relative;
  text-decoration: none;
  display: inline-block;
  min-width: 235px;
  color: #fff;
  font-family: inherit;
  background-color:#19378b !important;
  border-color:#4f649e !important;
  width: 20%;
  height: 43px;
}
.onboarding-ed__image-container{
  height: 42%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;  
}
.onboarding-ed__image--placeholder{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}
#onboarding-ed-2{
  background-color:#f5a339 ;
  height: 100vh;
  text-align: center;
  position: relative;
  margin: 0;
  padding-top: 100px;
}
#onboarding-ed-3{
  background-color:#5f63bd ;
  height: 100vh;
  text-align: center;
  position: relative;
  margin: 0;
  padding-top: 100px;
}
#onboarding-ed-4{
  background-color:#a6c2ff ;
  height: 100vh;
  text-align: center;
  position: relative;
  margin: 0;
  padding-top: 100px;
}