body{
    margin: 0px;
}

/*-- Page C o n t a i n e r --*/

.sit-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0px;
    padding-left: 0;
    padding-right: 0;
    border: 0px;

}
.container{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    position: static;
}
li{
    list-style-type: none;
}
/*--H e a d e r--*/

#media-logo{
    display: flex;
    justify-content: flex-end;
    
}
#content-wrap-home{

}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
}
