
body{
    margin: 0px;
    padding: 0px;
    color: #000;
    overflow: hidden;
}

.text{
    padding: 80px;
    text-align: justifys;
}


a{
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}
a:hover{
    color: #ffffff;
}
#slideLeft{
    display: block;
    position: relative;
    z-index: 1;
    top: 30px;
    left: 30px;
    float: right;
}
#slideLeft input{
    display: block;
    width: 40px;
    height: 32px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    left: -5px;
    top: -7px;
    position: absolute;
}
#slideLeft span{
    display: block;
    width: 32px;
    height: 3px;
    background: #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    position: relative;
    margin-bottom: 5px;
    -webkit-transition: transform .5s cubic-bezier (.75, .2, .05, 1.0) ;
    -moz-transition: transform .5s cubic-bezier (.75, .2, .05, 1.0) ;
    -moz-transition: transform .5s cubic-bezier (.75, .2, .05, 1.0) ;
    -o-transition: transform .5s cubic-bezier (.75, .2, .05, 1.0) ;
    transition: transform .5s cubic-bezier (.75, .2, .05, 1.0) ;  
}
#slideLeft span:first-child{
    -webkit-transform-origin:0% 0%;
    -moz-transform-origin:0% 0%;
    -moz-transform-origin:0% 0%;
    -o-transform-origin:0% 0%;
    transform-origin:0% 0%;
}

#slideLeft span:last-child{
    -webkit-transform-origin:0% 100%;
    -moz-transform-origin:0% 100%;
    -moz-transform-origin:0% 100%;
    -o-transform-origin:0% 100%;
    transform-origin:0% 100%;
}
#slideLeft input:checked ~ span{
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
    -moz-transform: rotate(45deg) translate(-2px, -1px);
    -moz-transform: rotate(45deg) translate(-2px, -1px);
    -o-transform: rotate(45deg) translate(-2px, -1px);
    transform: rotate(45deg) translate(-2px, -1px);
    background: #fff;
}

#slideLeft input:checked ~ span:nth-child(3){
    opacity: 0;
    -webkit-transform: rotate (-45deg) scale(.2, 0.2);
    -moz-transform: rotate (-45deg) scale(.2, 0.2);
    -moz-transform: rotate (-45deg) scale(.2, 0.2);
    -o-transform: rotate (-45deg) scale(.2, 0.2);
    transform: rotate (-45deg) scale(.2, 0.2);
}
#slideLeft input:checked ~ span:nth-last-child(2){
    -webkit-transform: rotate(0deg) translate(0, -1px);
    -moz-transform: rotate(0deg) translate(0, -1px);
    -moz-transform: rotate(0deg) translate(0, -1px);
    -o-transform: rotate(0deg) translate(0, -1px);
    transform: rotate(0deg) translate(0, -1px);
}
#nav-area{
    position: absolute;
    width: 80px;
    height: 100vh;
    margin: 90px 0 0  50;
    padding: 120px 45px 45px;
    background: gray;
    list-style-type: none;
    transform-origin: 0% 0%;
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}
#nav-area li{
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    padding: 5px 0;
}
#slideLeft input:checked ~ ul{
    -webkit-transform: none;
    -moz-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
}







